@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 60% 96%; /* light orange */
    --foreground: 20 14% 4%;
    --card: 33 60% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 16 100% 65%; /* vivid orange */
    --primary-foreground: 20 14% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 24 9.8% 10%;
    --accent: 334 100% 70%; /* warm-toned pink */
    --accent-foreground: 20 14% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 16 100% 65%;
    --radius: 1.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 20 14% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 100% 65%;
    --primary-foreground: 20 14% 98%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 334 100% 70%;
    --accent-foreground: 20 14% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 16 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

svg .mask {
    fill: #ffffff;
    fill-opacity: 1;
    pointer-events: none;
}

svg .static {
    fill: #ffffff;
    background: #ffffff;
}

svg .part-outline {
    stroke: #afafaf;
    stroke-width: 1;
    stroke-opacity: .6;
    stroke-dasharray: 3,1;
}